<!DOCTYPE html>
<html id="spryker-academy" lang="en-us" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic;Default" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Enablement|Tutorials|Challenges">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="msapplication-config" content="../../../Skins/Favicons/browserconfig.xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="../../../Skins/Favicons/apple-touch-icon.png" />
        <link rel="shortcut icon" href="../../../Skins/Favicons/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="../../../Skins/Favicons/favicon-96x96.png" />
        <link rel="icon" sizes="32x32" href="../../../Skins/Favicons/favicon-32x32.png" />
        <link rel="icon" sizes="16x16" href="../../../Skins/Favicons/favicon-16x16.png" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
        <meta name="author" content="Spryker Systems GmbH" />
        <meta name="title" content="Welcome to Spryker Academy" />
        <meta name="msapplication-config" content="/resources/public/images/favicons/browserconfig.xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/public/images/favicons/apple-touch-icon.png" />
        <link rel="shortcut icon" href="/resources/public/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="/resources/public/images/favicons/favicon-96x96.png" />
        <link rel="icon" sizes="32x32" href="/resources/public/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="16x16" href="/resources/public/images/favicons/favicon-16x16.png" /><title>Tutorial - Dynamic Content Page</title>
        <link href="../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Tablet.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Mobile.css" rel="stylesheet" />
        <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,900');

</style>
        <style>/*&lt;meta /&gt;*/

.button.previous-topic-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/navigate-previous.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.next-topic-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/navigate-next.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.print-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/printer.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.expand-all-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/expand.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.collapse-all-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/collapse.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.needs-pie
{
	behavior: url('../../../Resources/Scripts/PIE-no-motw.htc');
}

</style>
        <link href="../../../resources/public/css/academy-ui-style.css" rel="stylesheet" />
        <link href="../../../resources/tablestyles/patternedrows.css" rel="stylesheet" />
        <script src="../../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body class="t-base t-base--page js-base-template">
        <div class="t-base__header">
            <header class="o-header">
                <div class="o-header__content g-grid g-grid--container g-grid--middle"><a class="m-logo g-col g-col--sm-10 g-col--lg-2" href="/"><img class="m-logo__image" src="/resources/public/images/logo.png" alt="Spryker Logo" /></a>
                    <nav class="m-nav-top g-col g-col--sm-2 g-col--lg-10" id="nav-top">
                        <div class="u-is-hidden--sm-xl">
                            <ul class="nocontent menu _Skins_SideMenu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </div>
                        <div class="u-is-hidden--xl"><a class="m-nav-top__toggler js-base-template__toggler" href="#"><span class="icon icon-bars"></span></a>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="t-base__frame">
            <section class="o-search">
                <div class="g-grid g-grid--container">
                    <section class="m-search g-col g-col--sm-12">
                        <form action="/search.html" method="GET">
                            <input class="a-input a-input--expanded m-search__input" placeholder="Search in the Academy..." name="q" />
                            <button class="m-search__submit" type="submit"><span class="icon icon-search"></span>
                            </button>
                        </form>
                    </section>
                </div>
            </section>
            <section class="t-base__widgets g-grid g-grid--container">
                <section class="m-breadcrumbs g-col g-col--sm-12 g-col--xl-8">
                    <div class="nocontent">
                        <div class="MCBreadcrumbsBox_0 breadcrumbs" data-mc-breadcrumbs-divider=" &gt; " data-mc-breadcrumbs-count="3" data-mc-toc="True"><span class="MCBreadcrumbsPrefix">You are here: </span>
                        </div>
                    </div>
                </section>
                <div class="g-col g-col--sm-12 g-col--xl-4">
                    <section class="m-widget-toolbar">
                        <div class="buttons popup-container clearfix topicToolbarProxy _Skins_TopicToolBar mc-component nocontent">
                            <div class="button-group-container-left">
                                <button class="button needs-pie previous-topic-button" title="Navigate previous">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="previous topic" />
                                </button>
                                <button class="button needs-pie next-topic-button" title="Navigate next">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="next topic" />
                                </button>
                                <button class="button needs-pie print-button" title="Print">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="print" />
                                </button>
                                <button class="button needs-pie expand-all-button" data-state1-class="expand-all-button" data-state2-class="collapse-all-button" data-state2-title="Collapse all" title="Expand all" data-state1-title="Expand all">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="expand all" />
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <main class="t-base__main g-grid g-grid--container">
                <div class="g-col g-col--sm-12 u-is-hidden--xl">
        menu here
    </div>
                <div class="t-page-sidebar__content o-content g-col g-col--sm-12 g-col--xl-8 js-anchorer js-highlighter js-widget-copy">
                    <h1>Tutorial - Dynamic Content Page</h1>
                    <p data-mc-conditions="General.Hidden Comment">used to be: http://spryker.github.io/challenge/dynamic-content/</p>
                    <h2>Challenge Description</h2>
                    <p>Create a CMS page that displays some (marketing) text and a list of personalized products as offers.</p>
                    <h2>Challenge Solving Highlights</h2>
                    <h4>Static page</h4>
                    <p>For creating a CMS page, follow the steps:</p>
                    <ol>
                        <li value="1">Create a CMS template called <var>personalized_products.twig</var> under <var>src/Pyz/Yves/Cms/Theme/default/template/</var>. The template must contain at least one placeholder that will represent the marketing text.</li>
                        <li value="2">Go to Zed UI and open the <a href="http://zed.de.demoshop.local/cms/page" target="_blank" title="CMS pages" alt="CMS pages">CMS Pages</a> backend. Add a CMS page that uses the <var>/my-offers</var> URL and the <var>personalized_products</var> template that we’ve just created.</li>
                        <li value="3">Then add the text you would like to show on the static page.</li>
                        <li value="4">Activate the page.</li>
                        <li value="5">Run the storage collectors to export the static page by running <var>vendor/bin/console collector:storage:export</var> from your command line. You can have a look into Redis from the <a href="http://zed.de.demoshop.local/storage/maintenance/list" target="_blank" title="storage" alt="storage">Storage</a> backend page.</li>
                        <li value="6">You can see the page <a href="http://www.de.demoshop.local/my-offers" target="_blank" title="my offers" alt="my offers">here</a>.</li>
                    </ol>
                    <h4>Personalized offers</h4>
                    <p>To display some personalized product offers, follow the steps below:</p>
                    <ol>
                        <li value="1">Create a new Yves <span class="Generalbundle/module">module</span> called <var>SpecialOffers</var>.</li>
                        <li value="2">Create <var>Pyz\Yves\SpecialOffers\Plugin\Provider\SpecialOffersControllerProvider</var> that defines a new route to get the list of offers. The route should accept an integer parameter for the <var>limit</var> of how many offers we’d like to display.</li>
                        <li value="3">In order to make the <var>SpecialOffersControllerProvider</var> work, it needs to be registered under <var>Pyz\Yves\Application\YvesBootstrap::registerControllerProviders()</var>.</li>
                        <li value="4">Create a controller and a template for the defined route. At this point you should be able to display template you’ve created through the url of your new route.</li>
                        <li value="5">To get products we’ll need to query Elasticsearch. For querying we can use the <var>Spryker\Client\Search\SearchClient::search()</var> method from the <var>SearchClient</var>. We’ll create <var>Pyz\Client\SpecialOffers\SpecialOffersClient</var> class with <var>getPersonalizedProducts()</var> method that will call the <var>search()</var> of the search client. (<a href="../../../developing_with_spryker/yves/client.html#How" target="_blank" title="Yves client implementation" alt="Yves client implementation">Read here</a> about how to implement a client.)</li>
                        <li value="6">The <var>search()</var> method requires us to implement <var>Spryker\Client\Search\Dependency\Plugin\QueryInterface</var> that returns an <var>Elastica\Query</var> object. This is the pure representation of our Elasticsearch query. <span>Below</span> you’ll find a code snippet for the full implementation of a query that returns random products based on the session ID, e.g. listed products will be different for every user. (In real life this of course shouldn’t be a random list of products, but should contain some filters based on collected user information instead. For detailed info about the query, check <a href="https://www.elastic.co/guide/en/elasticsearch/guide/current/random-scoring.html" target="_blank" title="random scoring" alt="random scoring">Random scoring</a> documentation page from Elasticsearch.)</li>
                        <li value="7">The second parameter of the <var>search()</var> method is a stack of result formatter plugins. For our case it’s enough to provide only an instance of <var>Spryker\Client\Catalog\Plugin\Elasticsearch\ResultFormatter\RawCatalogSearchResultFormatterPlugin</var> that will return only necessary product data from Elasticsearch.</li>
                        <li value="8">Returning back to our controller now we can execute the search request and provide the result as it is for our template.</li>
                        <li value="9">In the template we should be able to access and iterate through the <var>products</var> variable (provided by the <var>RawCatalogSearchResultFormatterPlugin</var>) and display the products. Check template snippet below, that uses the catalog template to render products.</li>
                        <li value="10">Checking the url (defined under step 2.) now should show a list of personalized product offers.</li>
                    </ol>
                    <h4>Putting everything together</h4>
                    <p>Now that we have a CMS page and can have a list of personalized product offers, we can finish our task by the following steps:</p>
                    <ol>
                        <li value="1">Open our <var>personalized_products.twig</var> template and place a <var>{{ render() }}</var> method call where you’d like to display the personalized product offer list.</li>
                        <li value="2">The <var>render()</var> twig method is provided by Silex (check documentation <a href="https://silex.sensiolabs.org/doc/2.0/cookbook/sub_requests.html#rendering-pages-in-twig-templates" target="_blank" title="Silex documentation" alt="Silex documentation">here</a>). All we need to provide as parameter is a path to our personalized products route and the limit of the list (i.e. <var>{{ render(path('personalized-products', {'limit': 12})) }}</var>). This will create an internal sub-request to any of the paths that can be matched by the application router.</li>
                        <li value="3">As final result you should be able to see the CMS page with the marketing text you defined on the backend, and a limited list of personalized product offers.</li>
                    </ol>
                    <h4><a name="Snippet"></a>Snippet for implementing Elasticsearch query with personalized (random) results</h4>
                    <p><var>src/Pyz/Client/SpecialOffers/Plugin/Elasticsearch/Query/PersonalizedProductsQueryPlugin.php</var>
                    </p>
                    <div class="MCDropDown MCDropDown_Open dropDown"><span class="MCDropDownHead dropDownHead"><a href="javascript:void(0);" class="MCDropDownHotSpot dropDownHotspot MCDropDownHotSpot_ MCHotSpotImage"><img class="MCDropDown_Image_Icon" src="../../../Skins/Default/Stylesheets/Images/transparent.gif" height="11" width="16" alt="Closed" data-mc-alt2="Open" />Code Sample</a></span>
                        <div class="MCDropDownBody dropDownBody"><pre><code class="bash">&lt;?php

namespace Pyz\Client\SpecialOffers\Plugin\Elasticsearch\Query;

use Elastica\Query;
use Elastica\Query\BoolQuery;
use Elastica\Query\FunctionScore;
use Elastica\Query\Match;
use Elastica\Query\MatchAll;
use Generated\Shared\Search\PageIndexMap;
use Pyz\Shared\ProductSearch\ProductSearchConfig;
use Spryker\Client\Search\Dependency\Plugin\QueryInterface;

class PersonalizedProductsQueryPlugin implements QueryInterface
{

    /**
     * @var int
     */
    protected $limit;

    /**
     * @param int $limit
     */
    public function __construct($limit)
    {
        $this-&gt;limit = $limit;
    }

    /**
     * @return \Elastica\Query
     */
    public function getSearchQuery()
    {
        $boolQuery = (new BoolQuery())
            -&gt;addMust((new FunctionScore())
                -&gt;setQuery(new MatchAll())
                -&gt;addFunction('random_score', ['seed' =&gt; session_id()])
                -&gt;setScoreMode('sum'))
            -&gt;addMust((new Match())
                -&gt;setField(PageIndexMap::TYPE, ProductSearchConfig::PRODUCT_ABSTRACT_PAGE_SEARCH_TYPE));

        $query = (new Query())
            -&gt;setSource([PageIndexMap::SEARCH_RESULT_DATA])
            -&gt;setQuery($boolQuery)
            -&gt;setSize($this-&gt;limit);

        return $query;
    }

}</code></pre>
                        </div>
                    </div>
                    <h4><a name="Snippet2"></a>Snippet for product offers template</h4>
                    <p><var>src/Pyz/Yves/SpecialOffers/Theme/default/personalized-products/index.twig</var>
                    </p><pre><code class="bash">&lt;div class="row"&gt;
    {% if products is defined %}
        {% for product in products %}
            &lt;div class="small-12 medium-6 large-4 xlarge-3 columns"&gt;
                {% include "@catalog/catalog/partials/product.twig" with {
                    detailsUrl: product.url,
                    name: product.abstract_name,
                    priceValue: product.price,
                    imageUrl: (product.images|length ? product.images.0.external_url_small : '')
                } %}
            &lt;/div&gt;
        {% endfor %}
    {% endif %}
&lt;/div&gt;</code></pre>
                    <h2>References</h2>
                    <table class="TableStyle-PatternedRows" style="mc-table-style: url('../../../resources/tablestyles/patternedrows.css');" cellspacing="0">
                        <col class="TableStyle-PatternedRows-Column-Regular" />
                        <col class="TableStyle-PatternedRows-Column-Regular" />
                        <thead>
                            <tr class="TableStyle-PatternedRows-Head-Header1">
                                <th class="TableStyle-PatternedRows-HeadE-Regular-Header1">Documentation</th>
                                <th class="TableStyle-PatternedRows-HeadD-Regular-Header1">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="TableStyle-PatternedRows-Body-LightRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-LightRows">
                                    <p><a href="../../../developing_with_spryker/module_guide/content_management/cms/cms.html">CMS Manual</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-LightRows">
                                    <p>Tutorial on using CMS in Spryker</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-DarkerRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-DarkerRows">
                                    <p><a href="../../../developing_with_spryker/yves/yves_url_routing.html">URL Routing in Yves</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-DarkerRows">
                                    <p>URL Routing in Yves</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-LightRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-LightRows">
                                    <p><a href="../../../developing_with_spryker/module_guide/yves_components/search/search.html">Search</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-LightRows">
                                    <p>Detailed manual about Search with Spryker</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-DarkerRows">
                                <td class="TableStyle-PatternedRows-BodyB-Regular-DarkerRows">
                                    <p><a href="../../../developing_with_spryker/developer_resources/cronjob_scheduling.html">Cronjob Scheduling</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyA-Regular-DarkerRows">
                                    <p>Setup cronjobs in Jenkins</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="t-page-sidebar__sidebar g-col g-col--sm-12 g-col--xl-4 u-is-hidden--sm-xl">
                    <section class="a-box a-box--shadow">
                        <nav class="m-nav-sidebar" id="nav-sidebar">
                            <ul class="nocontent menu _Skins_SideMenu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <div class="t-base__footer">
                <footer class="o-footer g-grid g-grid--middle">
                    <nav class="g-grid g-grid--container g-grid--center"><a class="o-footer__link" href="https://spryker.com/privacy-policy" target="_blank">Privacy policy</a><a class="o-footer__link" href="https://spryker.com/partneragb" target="_blank">AGB Partnerprogram</a><a class="o-footer__link" href="https://spryker.com/impressum" target="_blank">Impressum</a>
                    </nav>
                </footer>
            </div><a class="a-scroll-top js-scroll-top" href="#"><span class="a-scroll-top__icon icon icon-chevron-up"></span></a>
            <div class="t-base__overlay js-base-template__toggler">
            </div>
        </div>
        <div class="t-base__off">
            <section class="o-off-canvas">
                <nav class="m-nav-mobile" id="nav-mobile">
                    <ul class="nocontent menu _Skins_SideMenu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                    </ul>
                </nav>
            </section>
        </div>
        <script src="/resources/public/js/academy-ui-vendor.js">
        </script>
        <script src="/resources/public/js/academy-ui-app.js">
        </script>
        <script>/* <![CDATA[ */
        (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
        function() {
        (b[l].q = b[l].q || []).push(arguments)
        });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    /* ]]> */</script>
    </body>
</html>