<!DOCTYPE html>
<html id="spryker-academy" lang="en-us" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic;Default" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Developing with Spryker|Industry Partner Integration|Search Integration - FACT-Finder">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
        <meta name="author" content="Spryker Systems GmbH" />
        <meta name="title" content="Spryker Academy" />
        <meta name="msapplication-config" content="/resources/ui/images/favicons/browserconfig.xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/ui/images/favicons/apple-touch-icon.png" />
        <link rel="shortcut icon" href="/resources/ui/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="/resources/ui/images/favicons/favicon-96x96.png" />
        <link rel="icon" sizes="32x32" href="/resources/ui/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="16x16" href="/resources/ui/images/favicons/favicon-16x16.png" />
        <!-- Google Tag Manager -->
        <script>/*<![CDATA[*/(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NP24S2');/*]]>*/</script>
        <!-- End Google Tag Manager --><title>FACT-Finder - Campaigns</title>
        <link href="../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Tablet.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Mobile.css" rel="stylesheet" />
        <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,900');

</style>
        <link href="/resources/ui/css/academy-ui-typography.css" rel="stylesheet" />
        <link href="/resources/ui/css/academy-ui-app.css" rel="stylesheet" />
        <style>/*&lt;meta /&gt;*/

.button.previous-topic-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/navigate-previous.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.next-topic-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/navigate-next.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.expand-all-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/expand.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.print-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/printer.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.collapse-all-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/collapse.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.needs-pie
{
	behavior: url('../../../Resources/Scripts/PIE-no-motw.htc');
}

</style>
        <link href="../../../resources/ui/css/academy-ui-typography.css" rel="stylesheet" />
        <script src="../../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body class="t-base t-base--page js-base-template">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP24S2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="t-base__header">
            <header class="o-header">
                <div class="o-header__content g-grid g-grid--container g-grid--middle"><a class="m-logo g-col g-col--sm-10 g-col--lg-2" href="/"><img class="m-logo__image" src="/resources/ui/images/logo.png" alt="Spryker Logo" /></a>
                    <nav class="m-nav-top g-col g-col--sm-2 g-col--lg-10" id="nav-top">
                        <div class="u-is-hidden--sm-xl">
                            <ul class="nocontent menu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </div>
                        <div class="u-is-hidden--xl"><a class="m-nav-top__toggler js-base-template__toggler" href="#"><span class="icon icon-bars"></span></a>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="t-base__frame">
            <section class="o-search">
                <div class="g-grid g-grid--container">
                    <section class="m-search g-col g-col--sm-12">
                        <form action="/search.html" method="GET">
                            <input class="a-input a-input--expanded m-search__input" placeholder="Search in the Academy..." name="q" />
                            <button class="m-search__submit" type="submit"><span class="icon icon-search"></span>
                            </button>
                        </form>
                    </section>
                </div>
            </section>
            <section class="t-base__widgets g-grid g-grid--container g-grid--middle">
                <section class="m-breadcrumbs g-col g-col--sm-12 g-col--xl-8">
                    <div class="nocontent">
                        <div class="MCBreadcrumbsBox_0 breadcrumbs" data-mc-breadcrumbs-divider=" &gt; " data-mc-breadcrumbs-count="3" data-mc-toc="True"><span class="MCBreadcrumbsPrefix">You are here: </span>
                        </div>
                    </div>
                </section>
                <div class="g-col g-col--sm-12 g-col--xl-4 u-align-right">
                    <section class="m-widget-toolbar">
                        <div class="buttons popup-container clearfix topicToolbarProxy _Skins_topic_toolbar mc-component nocontent">
                            <div class="button-group-container-left">
                                <button class="button needs-pie previous-topic-button" title="Navigate previous">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="previous topic" />
                                </button>
                                <button class="button needs-pie next-topic-button" title="Navigate next">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="next topic" />
                                </button>
                                <button class="button needs-pie expand-all-button" data-state1-class="expand-all-button" data-state2-class="collapse-all-button" data-state2-title="Collapse all" title="Expand all" data-state1-title="Expand all">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="expand all" />
                                </button>
                                <button class="button needs-pie print-button" title="Print">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="print" />
                                </button>
                            </div>
                        </div>
                    </section>
                    <div class="m-widget-github js-widget-github"><a class="m-widget-github__link icon icon-github js-widget-github__link" href="https://github.com/spryker/spryker-academy" target="_blank"></a>
                    </div>
                </div>
            </section>
            <main class="t-base__main g-grid g-grid--container">
                <div class="g-col g-col--sm-12 u-is-hidden--xl">
                    <div class="m-accordion js-accordion">
                        <div class="m-accordion__header">
                            <div class="m-accordion__title js-accordion__toggler"><span class="icon icon-ellipsis-v icon--left"></span>
                    Navigation
                </div>
                        </div>
                        <div class="m-accordion__content js-accordion__content">
                            <nav class="m-nav-sidebar" id="nav-sidebar">
                                <ul class="nocontent menu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="t-page-sidebar__content o-content g-col g-col--sm-12 g-col--xl-8 js-anchorer js-highlighter js-widget-copy">
                    <h1>FACT-Finder - Campaigns</h1>
                    <h2>Prerequisites</h2>
                    <p>
            The FACT-Finder Campaign Manager module allows you to target the management of search results in order to improve the customer lead process or deliberately highlight products.
            Campaigns are activated according to the specific criteria and are then returned accordingly in the search results.
        </p>
                    <p>
            Campaigns are a powerful tool for visual merchandising. One of their numerous functions is automatic redirects to static pages for specific search terms, e.g. searching for "ToS" automatically redirects the user to the terms of service page. Even more importantly, campaigns allow for targeted placement of banners or the customization of search results.</p>
                    <p>These types of the campaign can be created with the Campaign Assistant:</p>
                    <ul>
                        <li value="1">Feedback Campaigns: Display preset texts and banners with search results. Also used for pushed products.</li>
                        <li value="2">Redirect Campaigns: Redirect the user to the specific pages for certain search terms.</li>
                        <li value="3">Advisor Campaigns: Manages questions and answers that are presented to the shop visitor. Answers lead to specific product sets.</li>
                        <li value="4">Product Campaigns: Allows you to place campaigns on product pages instead of search result pages.</li>
                    </ul>
                    <h3>Feedback Campaign</h3>
                    <p>
            Feedback campaigns add predefined banners, texts, and products aimed to search results in reaction to specific search terms or other triggers.
            These campaigns are best suited to pushing products.
            A feedback campaign can also be used to place videos, point the customer towards the brand stores or to the designed zero-result pages.
        </p>
                    <h3>Redirect Campaign</h3>
                    <p>
			Redirect campaigns react to triggers like search words and send users to specific pages, like Contact, ToS, etc.
			Every webstore has a number of pages that should be available in this way.
			Apart from the contact form and terms of service, payment and shipping conditions, as well as the about page, fall into that list.

        </p>
                    <h3>Redirect Campaign</h3>
                    <p>
            Advisor campaigns give you the ability to set up questions as text or images which are presented to the customer in certain situations.
            You group the questions with the preset answers the customer can choose. Each answer is combined with a product set which is
            displayed to the user on giving the answer. This gives you the ability to guide the user with targeted questions.
            Advisor campaigns are especially useful to react to rising trends or frequently used filter combinations.
        </p>
                    <h3>Product Campaign</h3>
                    <p>
            Product campaigns can be placed on any product detail page, shopping cart page or shop page and display a specific product set.
            They employ the same method of defining product sets but are different in the way they are triggered.
        </p>
                    <h2>Usage </h2>
                    <h3>Search Page</h3>
                    <p>Search result campaigns are fetched implicitly by invoking a search request. Examples of integration of advisor, redirect, feedback and pushed products campaigns can be found in <var>vendor/spryker-eco/fact-finder/src/SprykerEco/Yves/FactFinder/Theme/default/search/catalog.twig</var></p>
                    <h3>Product Details Page</h3>
                    <p>To fetch Fact-Finder campaigns for product page, you need to make a call using Fact-Finder client. To do that:</p>
                    <ol>
                        <li value="1">
        Add FactFinder client to dependency provider:
</li>
                    </ol>
                    <div class="MCDropDown MCDropDown_Open dropDown"><span class="MCDropDownHead dropDownHead"><a href="javascript:void(0);" class="MCDropDownHotSpot dropDownHotspot MCDropDownHotSpot_ MCHotSpotImage"><img class="MCDropDown_Image_Icon" src="../../../Skins/Default/Stylesheets/Images/transparent.gif" height="11" width="16" alt="Closed" data-mc-alt2="Open" />Click here to expand the code sample</a></span>
                        <div class="MCDropDownBody dropDownBody"><pre><code class="php">
&lt;?php
class ProductDependencyProvider extends AbstractBundleDependencyProvider
{
    ...
    const CLIENT_FACT_FINDER = 'CLIENT_FACT_FINDER';

    /**
     * @param \Spryker\Yves\Kernel\Container $container
     *
     * @return \Spryker\Yves\Kernel\Container
     */
    public function provideDependencies(Container $container)
    {
        $container = $this-&gt;provideClients($container);

        return $container;
    }

    /**
     * @param \Spryker\Yves\Kernel\Container $container
     *
     * @return \Spryker\Yves\Kernel\Container
     */
    protected function provideClients(Container $container)
    {
        ...

        $container[self::CLIENT_FACT_FINDER] = function (Container $container) {
            return $container-&gt;getLocator()-&gt;factFinderSdk()-&gt;client();
        };

        return $container;
    }

}
            </code></pre>
                        </div>
                    </div>
                    <ol>
                        <li value="1">
        Add methods to get FactFinder client and to create product campaign request transfer:
</li>
                    </ol>
                    <div class="MCDropDown MCDropDown_Open dropDown"><span class="MCDropDownHead dropDownHead"><a href="javascript:void(0);" class="MCDropDownHotSpot dropDownHotspot MCDropDownHotSpot_ MCHotSpotImage"><img class="MCDropDown_Image_Icon" src="../../../Skins/Default/Stylesheets/Images/transparent.gif" height="11" width="16" alt="Closed" data-mc-alt2="Open" />Click here to expand the code sample</a></span>
                        <div class="MCDropDownBody dropDownBody"><pre><code class="php">
&lt;?php
class ProductFactory extends AbstractFactory
{

    ...

    /**
     * @return \SprykerEco\Client\FactFinderSdk\FactFinderSdkClient
     */
    public function getFactFinderClient()
    {
        return $this-&gt;getProvidedDependency(ProductDependencyProvider::CLIENT_FACT_FINDER);
    }

    /**
     * @return \Generated\Shared\Transfer\FactFinderSdkProductCampaignRequestTransfer
     */
    public function createFactFinderSdkProductCampaignRequestTransfer()
    {
        return new FactFinderSdkProductCampaignRequestTransfer();
    }

}
            </code></pre>
                        </div>
                    </div>
                    <ol>
                        <li value="1">
        Fetch product campaigns from controller:
</li>
                    </ol>
                    <div class="MCDropDown MCDropDown_Open dropDown"><span class="MCDropDownHead dropDownHead"><a href="javascript:void(0);" class="MCDropDownHotSpot dropDownHotspot MCDropDownHotSpot_ MCHotSpotImage"><img class="MCDropDown_Image_Icon" src="../../../Skins/Default/Stylesheets/Images/transparent.gif" height="11" width="16" alt="Closed" data-mc-alt2="Open" />Click here to expand the code sample</a></span>
                        <div class="MCDropDownBody dropDownBody"><pre><code class="php">
&lt;?php
class ProductController extends AbstractController
{

    /**
     * @param \Generated\Shared\Transfer\StorageProductTransfer $storageProductTransfer
     *
     * @return array
     */
    public function detailAction(Request $request, StorageProductTransfer $storageProductTransfer)
    {
        ...
        $factFinderSdkProductCampaignRequestTransfer = $this-&gt;getFactory()
            -&gt;createFactFinderSdkProductCampaignRequestTransfer();
        $factFinderSdkProductCampaignRequestTransfer-&gt;addProductNumber($storageProductTransfer-&gt;getIdProductAbstract());
            $factFinderSdkProductCampaignRequestTransfer-&gt;setSid($request-&gt;cookies-&gt;get(FactFinderConstants::COOKIE_SID_NAME));
        $factFinderProductCampaignResponseTransfer = $this-&gt;getFactory()
            -&gt;getFactFinderClient()
            -&gt;getProductCampaigns($factFinderSdkProductCampaignRequestTransfer);
        $campaigns = $factFinderProductCampaignResponseTransfer-&gt;getCampaignIterator()-&gt;getCampaigns();

        $productData = [
            ...
            'campaigns' =&gt; $campaigns,
        ];

        return $productData;
    }
}
            </code></pre>
                        </div>
                    </div>
                    <ol>
                        <li value="1">
        Inject feedback campaign templates into product details template, indicating position of campaign widget in <var>feedbackBlockPositionId</var> parameter e.g.:
        <pre><code>
{% if campaigns is defined %}
    {% include '@FactFinder/campaigns/partials/feedback.twig' with {
        campaigns: campaigns,
        feedbackBlockPositionId: 'product detail - above product',
    } %}
{% endif %}
            </code></pre><p>Additionally, you might need to add some more feedback widgets to general layout in <var>src/Pyz/Yves/Application/Theme/default/layout/layout.twig</var></p></li>
                        <li value="2">
        Inject pushed products campaign template into product details template, e.g.:
        <pre><code>
{% if campaigns is defined %}
    {% include '@FactFinder/campaigns/partials/pushed-products.twig' with {
        campaigns: campaigns,
    } %}
{% endif %}
            </code></pre></li>
                    </ol>
                    <h3>Cart Page</h3>
                    <p>To fetch Fact-Finder campaigns for cart page, perform the same actions as for product page, but under Cart module namespace.</p>
                    <p>&#160;</p>
                    <p><b>See also:</b>
                    </p>
                    <ul>
                        <li value="1"><a href="integration_search_factfinder.html">Get a general idea about FACT-Finder</a>
                        </li>
                        <li value="2"><a href="integration_search_factfinder_recommendation.html">Configure FACT-Finder recommendations widget</a>
                        </li>
                        <li value="3"><a href="integration_search_factfinder_search.html">Configure FACT-Finder Search</a>
                        </li>
                        <li value="4"><a href="integration_search_factfinder_suggest.html">Configure FACT-Finder Suggest module</a>
                        </li>
                        <li value="5"><a href="integration_search_factfinder_tracking.html">Learn more about FACT-Finder tracking system</a>
                        </li>
                        <li value="6"><a href="integration_search_factfinder_export_csv.html">Learn how to export CSVs to FACT-Finder</a>
                        </li>
                    </ul>
                    <p>&#160;</p>
                    <p><i>Last review date: Dec. 22nd, 2017</i>
                    </p>
                </div>
                <div class="t-page-sidebar__sidebar g-col g-col--sm-12 g-col--xl-4 u-is-hidden--sm-xl">
                    <section class="a-box a-box--shadow">
                        <nav class="m-nav-sidebar" id="nav-sidebar">
                            <ul class="nocontent menu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <div class="t-base__footer">
                <footer class="o-footer g-grid g-grid--middle">
                    <nav class="g-grid g-grid--container g-grid--center"><a class="o-footer__link" href="https://spryker.com/privacy-policy" target="_blank">Privacy policy</a><a class="o-footer__link" href="https://spryker.com/partneragb" target="_blank">AGB Partnerprogram</a><a class="o-footer__link" href="https://spryker.com/impressum" target="_blank">Impressum</a>
                    </nav>
                </footer>
            </div><a class="a-scroll-top js-scroll-top" href="#"><span class="a-scroll-top__icon icon icon-chevron-up"></span></a>
            <div class="t-base__overlay js-base-template__toggler">
            </div>
        </div>
        <div class="t-base__off">
            <section class="o-off-canvas">
                <nav class="m-nav-mobile" id="nav-mobile">
                    <ul class="nocontent menu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                    </ul>
                </nav>
            </section>
        </div>
        <script src="/resources/ui/js/academy-ui-manifest.js">
        </script>
        <script src="/resources/ui/js/academy-ui-vendor.js">
        </script>
        <script src="/resources/ui/js/academy-ui-app.js">
        </script>
    </body>
</html>