<!DOCTYPE html>
<html id="spryker-academy" lang="en-us" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic;Default" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Enablement|Tutorials and HowTos|Introduction Tutorials">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
        <meta name="author" content="Spryker Systems GmbH" />
        <meta name="title" content="Spryker Academy" />
        <meta name="msapplication-config" content="/resources/ui/images/favicons/browserconfig.xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/ui/images/favicons/apple-touch-icon.png" />
        <link rel="shortcut icon" href="/resources/ui/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="/resources/ui/images/favicons/favicon-96x96.png" />
        <link rel="icon" sizes="32x32" href="/resources/ui/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="16x16" href="/resources/ui/images/favicons/favicon-16x16.png" /><title>Tutorial - Architectural Walkthrough</title>
        <link href="../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Tablet.css" rel="stylesheet" />
        <link href="../../../Skins/Default/Stylesheets/Components/Mobile.css" rel="stylesheet" />
        <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,900');

</style>
        <link href="/resources/ui/css/academy-ui-typography.css" rel="stylesheet" />
        <link href="/resources/ui/css/academy-ui-app.css" rel="stylesheet" />
        <style>/*&lt;meta /&gt;*/

.button.previous-topic-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/navigate-previous.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.next-topic-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/navigate-next.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.expand-all-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/expand.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.print-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/printer.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.collapse-all-button
{
	-pie-background: url('../../../Skins/Default/Stylesheets/Images/collapse.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.needs-pie
{
	behavior: url('../../../Resources/Scripts/PIE-no-motw.htc');
}

</style>
        <link href="../../../resources/ui/css/academy-ui-typography.css" rel="stylesheet" />
        <link href="../../../resources/tablestyles/patternedrows.css" rel="stylesheet" />
        <script src="../../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body class="t-base t-base--page js-base-template">
        <div class="t-base__header">
            <header class="o-header">
                <div class="o-header__content g-grid g-grid--container g-grid--middle"><a class="m-logo g-col g-col--sm-10 g-col--lg-2" href="/"><img class="m-logo__image" src="/resources/ui/images/logo.png" alt="Spryker Logo" /></a>
                    <nav class="m-nav-top g-col g-col--sm-2 g-col--lg-10" id="nav-top">
                        <div class="u-is-hidden--sm-xl">
                            <ul class="nocontent menu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </div>
                        <div class="u-is-hidden--xl"><a class="m-nav-top__toggler js-base-template__toggler" href="#"><span class="icon icon-bars"></span></a>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="t-base__frame">
            <section class="o-search">
                <div class="g-grid g-grid--container">
                    <section class="m-search g-col g-col--sm-12">
                        <form action="/search.html" method="GET">
                            <input class="a-input a-input--expanded m-search__input" placeholder="Search in the Academy..." name="q" />
                            <button class="m-search__submit" type="submit"><span class="icon icon-search"></span>
                            </button>
                        </form>
                    </section>
                </div>
            </section>
            <section class="t-base__widgets g-grid g-grid--container g-grid--middle">
                <section class="m-breadcrumbs g-col g-col--sm-12 g-col--xl-8">
                    <div class="nocontent">
                        <div class="MCBreadcrumbsBox_0 breadcrumbs" data-mc-breadcrumbs-divider=" &gt; " data-mc-breadcrumbs-count="3" data-mc-toc="True"><span class="MCBreadcrumbsPrefix">You are here: </span>
                        </div>
                    </div>
                </section>
                <div class="g-col g-col--sm-12 g-col--xl-4 u-align-right">
                    <section class="m-widget-toolbar">
                        <div class="buttons popup-container clearfix topicToolbarProxy _Skins_topic_toolbar mc-component nocontent">
                            <div class="button-group-container-left">
                                <button class="button needs-pie previous-topic-button" title="Navigate previous">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="previous topic" />
                                </button>
                                <button class="button needs-pie next-topic-button" title="Navigate next">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="next topic" />
                                </button>
                                <button class="button needs-pie expand-all-button" data-state1-class="expand-all-button" data-state2-class="collapse-all-button" data-state2-title="Collapse all" title="Expand all" data-state1-title="Expand all">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="expand all" />
                                </button>
                                <button class="button needs-pie print-button" title="Print">
                                    <img src="../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="print" />
                                </button>
                            </div>
                        </div>
                    </section>
                    <div class="m-widget-github js-widget-github"><a class="m-widget-github__link icon icon-github js-widget-github__link" href="https://github.com/spryker/spryker-academy" target="_blank"></a>
                    </div>
                </div>
            </section>
            <main class="t-base__main g-grid g-grid--container">
                <div class="g-col g-col--sm-12 u-is-hidden--xl">
                    <div class="m-accordion js-accordion">
                        <div class="m-accordion__header">
                            <div class="m-accordion__title js-accordion__toggler"><span class="icon icon-ellipsis-v icon--left"></span>
                    Navigation
                </div>
                        </div>
                        <div class="m-accordion__content js-accordion__content">
                            <nav class="m-nav-sidebar" id="nav-sidebar">
                                <ul class="nocontent menu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="t-page-sidebar__content o-content g-col g-col--sm-12 g-col--xl-8 js-anchorer js-highlighter js-widget-copy">
                    <h1>Tutorial - Architectural Walkthrough</h1>
                    <p>This is an architecture walkthrough as a coding exercise.</p>
                    <h2>Challenge Description</h2>
                    <ol>
                        <li value="1">Build a <strong>HelloSpryker</strong> <span class="Generalbundle/module">module</span> in Zed that will render the <var>Hello Spryker!</var> string, in reverse order, on the screen. The string must be retrieved from the config.</li>
                        <li value="2">Build a <strong>HelloSpryker</strong> <span class="Generalbundle/module">module</span> in Yves that will render the <var>Hello Spryker!</var> string, in reverse order, on the screen. Yves must communicate with Zed in order to retrieve the string.</li>
                        <li value="3">Add Zed persistence layer in <strong>HelloSpryker</strong> <span class="Generalbundle/module">module</span>.</li>
                        <li value="4">Move the functionality that returns a string in reverse order to a new <span class="Generalbundle/module">module</span> (<strong>StringFormat</strong>). Use this functionality from the <strong>HelloSpryker</strong> <span class="Generalbundle/module">module</span>.</li>
                    </ol>
                    <h2>Challenge Solving Highlights</h2>
                    <h3>1. Building the HelloSpryker <span class="GeneralBundle/Module">Module</span> in Zed</h3>
                    <ul>
                        <li class="bullet_list" value="1">Add the <span class="Generalbundle/module">module</span> folder in Zed.</li>
                        <li class="bullet_list" value="2">Add the config class with a method <var>getString</var> holding the default string <var>'Hello Spryker!'</var>.</li>
                        <li class="bullet_list" value="3">Add the logic for returning the string reversed under the business layer in <var>/Model</var> sub-folder.</li>
                        <li class="bullet_list" value="4">Create a business factory under the business layer to create this class.</li>
                        <li class="bullet_list" value="5">Create a <var>HelloSprykerFacade</var> under the business layer and call the business class here.</li>
                        <li class="bullet_list" value="6">Create a controller with an <var>indexAction()</var> method that will use the facade.</li>
                        <li class="bullet_list" value="7">Create the Twig template <var>index.twig</var> under the presentation layer inside a <var>HelloSpryker</var> subfolder.</li>
                        <li class="bullet_list" value="8">Display the string on the screen, navigate to the URL <var>/hello-spryker/hello-spryker</var> for this.</li>
                        <li class="bullet_list" value="9">Add the controller in your navigation on the left by providing a <var>navigation.xml</var> file in the Communication folder (see references at the bottom).</li>
                        <li class="bullet_list" value="10">Run <var>vendor/bin/console application:build-navigation-cache</var> to generate the new navigation tree.</li>
                    </ul>
                    <h4>Implementation Tips</h4>
                    <p>Make sure you facade only delegates and the factory itself creates the HelloSpryker business class including the necessary constructor arguments:</p><pre><code class="bash">&lt;?php
return new HelloSpryker($this-&gt;getConfig());</code></pre>
                    <p>The facade method should then just call</p><pre><code class="bash">&lt;?php
return $this-&gt;getFactory()-&gt;createHelloSpryker()-&gt;getReversedString();</code></pre>
                    <p>Make the Config class configurable in a way that you can provide any string via <var>config_default.php</var>. You would use a <var>HelloSprykerConstants</var> class and inside the <var>getString()</var> method you would use <var>$this-&gt;get(HelloSprykerConstants::STRING, 'Hello Spryker!')</var>. The second argument is the default string in case no config has yet been provided. Constants classes are put into the <var>Pyz\Shared\</var> namespace.</p>
                    <p>To test if you can use any string via config now, add this to <var>config_default.php</var>, for example:</p><pre><code class="bash">&lt;?php
$config[HelloSprykerConstants::STRING] = 'Foo Bar';</code></pre>
                    <p>Your <var>index.twig</var> template ideally extends from the Gui layout to have the complete layout included:</p><pre><code class="bash">{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
&lt;div class="row"&gt;
    &lt;div class="col-sm-12"&gt;
        {{ reversedString }}
    &lt;/div&gt;
&lt;/div&gt;
{% endblock %}</code></pre>
                    <h3>2. Building a <strong>HelloSpryker</strong> <span class="GeneralBundle/Module">Module</span> in Yves</h3>
                    <p>Add Yves layer:</p>
                    <ul>
                        <li class="bullet_list" value="1">Add the <span class="Generalbundle/module">module</span> folder in Yves.</li>
                        <li class="bullet_list" value="2">Add controller + action.</li>
                        <li class="bullet_list" value="3">Create the Twig template under the presentation layer (<var>/HelloSpryker/Theme/default/hello-spryker/index.twig</var>).</li>
                        <li class="bullet_list" value="4">Add route in the controller provider (for URL <var>/hello-spryker</var>).</li>
                        <li class="bullet_list" value="5">Register the controller provider in YvesBootstrap.</li>
                    </ul>
                    <p>Communicate with Zed:</p>
                    <ul>
                        <li class="bullet_list" value="1">Create a <var>hello_spryker.transfer.xml</var> file in <var>Shared/HelloSpryker/Transfer</var> building a <var>HelloSprykerTransfer</var> object which contains a <var>reversedString</var> property.</li>
                        <li class="bullet_list" value="2">Run <var>vendor/bin/console transfer:generate</var> to generate the class.</li>
                        <li class="bullet_list" value="3">Create client directory for Zed (<var>/Pyz/Client/HelloSpryker/Zed</var>).</li>
                        <li class="bullet_list" value="4">Add client and stub (see references at the bottom).</li>
                        <li class="bullet_list" value="5">Add a <var>HelloSprykerDependencyProvider</var> for Client layer.</li>
                        <li class="bullet_list" value="6">Add a gateway call in client/stub with an empty transfer object</li>
                        <li class="bullet_list" value="7">Add a <var>GatewayController</var> with a <var>getReversedStringAction()</var> method in Zed which calls the facade and returns the filled transfer object.</li>
                    </ul>
                    <h4>Implementation Tips</h4>
                    <p>The Yves route you need to set up, can look like this:</p><pre><code class="bash">&lt;?php
$this-&gt;createController('/hello-spryker', 'hello-spryker', 'HelloSpryker', 'HelloSpryker', 'index');</code></pre>
                    <p>The <var>HelloSprykerStub</var> class must have a constructor argument and property for <var>zedStub</var> which will be passed in from the Client layer factory. The gateway call could look like this:</p><pre><code class="bash">&lt;?php
$helloSprykerTransfer = new HelloSprykerTransfer();

return $this-&gt;zedStub-&gt;call(
    '/hello-spryker/gateway/get-reversed-string',
    $helloSprykerTransfer
);</code></pre>
                    <p>The dependency provider needs to provide the client to the factory:</p><pre><code class="bash">&lt;?php
$container['HelloSpryker client'] = function (Container $container) {
    return $container-&gt;getLocator()-&gt;helloSpryker()-&gt;client();
};</code></pre>
                    <p>The GatewayController just populates the passed in transfer object and returns this again:</p><pre><code class="bash">&lt;?php
public function getReversedStringAction(HelloSprykerTransfer $helloSprykerTransfer)
{
	$reversedString = $this-&gt;getFacade()-&gt;getReversedString();
	$helloSprykerTransfer-&gt;setReversedString($reversedString);

	return $helloSprykerTransfer;
}</code></pre>
                    <p>The Twig template here should extend the main layout:</p><pre><code class="bash">{% extends "@application/layout/layout.twig" %}

{% block title %}
    &lt;h3&gt;{{ helloSpryker.reversedString }}&lt;/h3&gt;
{% endblock %}</code></pre>
                    <h3>3. Make <strong>HelloSpryker</strong> <span class="GeneralBundle/Module">Module</span> Read from Database</h3>
                    <ul>
                        <li class="bullet_list" value="1">In Zed add a persistence layer and a schema XML file with a very basic table holding the string.</li>
                        <li class="bullet_list" value="2">Run <var>vendor/bin/console propel:install</var> to generate the table and classes.</li>
                        <li class="bullet_list" value="3">Also pass the new QueryContainer into the HelloSpryker class as a second constructor dependency.</li>
                        <li class="bullet_list" value="4">You can populate the database from the config, e.g. in the constructor of the HelloSpryker class.</li>
                        <li class="bullet_list" value="5">Read inside the Zed business logic from the QueryContainer now instead of config.</li>
                    </ul>
                    <h4>Implementation Tips</h4>
                    <p>The snippet to store our test string could look like this:</p><pre><code class="bash">&lt;?php
protected function initDatabaseFromConfig(HelloSprykerConfig $helloSprykerConfig)
{
    $helloSprykerEntity = $this-&gt;helloSprykerQueryContainer-&gt;queryHelloSpryker()-&gt;findOne();
    if (!$helloSprykerEntity) {
        $helloSprykerEntity = new PyzHelloSpryker();
        $helloSprykerEntity-&gt;setString($helloSprykerConfig-&gt;getString());
    } else {
        $helloSprykerEntity-&gt;setString($helloSprykerConfig-&gt;getString());
    }
    $helloSprykerEntity-&gt;save();
}</code></pre>
                    <p>It will always update the database according to your config.</p>
                    <p>The <var>/Pyz/Zed/HelloSpryker/Persistence/Propel/Schema/pyz_hello_spryker.schema.xml</var> could look like this:</p><pre><code class="bash">&lt;?xml version="1.0"?&gt;
&lt;database xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    name="zed" xsi:noNamespaceSchemaLocation="http://static.spryker.com/schema-01.xsd"
    namespace="Orm\Zed\HelloSpryker\Persistence"
    namespaceAutoPackage="false"
    package="src.Orm.Zed.HelloSpryker.Persistence"&gt;

    &lt;table name="pyz_hello_spryker" idMethod="native"&gt;
        &lt;column name="id_hello_spryker" required="true" type="INTEGER" autoIncrement="true" primaryKey="true"/&gt;
        &lt;column name="string" required="true" size="128" type="VARCHAR"/&gt;

        &lt;unique name="pyz_hello_spryker-string"&gt;
            &lt;unique-column name="string"/&gt;
        &lt;/unique&gt;
        &lt;id-method-parameter value="pyz_hello_spryker_pk_seq"/&gt;
    &lt;/table&gt;

&lt;/database&gt;</code></pre>
                    <h3>4. <strong>StringFormat</strong> <span class="GeneralBundle/Module">Module</span></h3>
                    <ul>
                        <li class="bullet_list" value="1">Create the <strong>StringFormat</strong> <span class="Generalbundle/module">module</span> in Zed.</li>
                        <li class="bullet_list" value="2">In the HelloSpryker <span class="Generalbundle/module">module</span>, create a dependency provider class and call it <var>HelloSprykerDependencyProvider</var>.</li>
                        <li class="bullet_list" value="3">Extract the functionality that formats the string and move it to the new <span class="Generalbundle/module">module</span>.</li>
                        <li class="bullet_list" value="4">Create <var>StringFormatFacade</var> class.</li>
                        <li class="bullet_list" value="5">Provide the business layer dependency to the <strong>HelloSpryker</strong> <span class="Generalbundle/module">module</span> and internally use this other facade now.</li>
                    </ul>
                    <h4>Implementation Tips</h4>
                    <ul>
                        <li class="bullet_list" value="1">The HelloSpryker class will now have a third constructor argument, the provided facade.</li>
                        <li class="bullet_list" value="2">You can use the transfer object to pass the string between <span class="Generalbundle/module">module</span>s.</li>
                        <li class="bullet_list" value="3">Try to add interfaces for your classes so that the constructor typehints are abstract instead of concrete.</li>
                    </ul>
                    <h2>More Tips</h2>
                    <p>Run <var>vendor/bin/console dev:ide:generate-auto-completion </var>to also get IDE typehinting for the new <span class="Generalbundle/module">module</span> for both Yves and Zed.</p>
                    <p>Add <var>@method</var> annotations to your classes to get complete IDE type-hinting and clickability:</p>
                    <div class="MCDropDown MCDropDown_Open dropDown"><span class="MCDropDownHead dropDownHead"><a href="javascript:void(0);" class="MCDropDownHotSpot dropDownHotspot MCDropDownHotSpot_ MCHotSpotImage"><img class="MCDropDown_Image_Icon" src="../../../Skins/Default/Stylesheets/Images/transparent.gif" height="11" width="16" alt="Closed" data-mc-alt2="Open" />Click to expand the code sample</a></span>
                        <div class="MCDropDownBody dropDownBody"><pre><code class="bash">&lt;?php
/**
 * @method \Pyz\Zed\HelloSpryker\Business\HelloSprykerFacade getFacade()
 */
class HelloSprykerController extends AbstractController
{
}

/**
 * @method \Pyz\Zed\HelloSpryker\Business\HelloSprykerBusinessFactory getFactory()
 */
class HelloSprykerFacade extends AbstractFacade
{
}

/**
 * @method \Pyz\Zed\HelloSpryker\HelloSprykerConfig getConfig()
 * @method \Pyz\Zed\HelloSpryker\Persistence\HelloSprykerQueryContainer getQueryContainer()
 */
class HelloSprykerBusinessFactory extends AbstractBusinessFactory
{
}

/**
 * @method \Pyz\Client\HelloSpryker\HelloSprykerFactory getFactory()
 */
class HelloSprykerClient extends AbstractClient
{
}</code></pre>
                        </div>
                    </div>
                    <p>This is useful for all OS internal “locatable” classes.</p>
                    <h2>Reference</h2>
                    <table class="TableStyle-PatternedRows" style="mc-table-style: url('../../../resources/tablestyles/patternedrows.css');" cellspacing="0">
                        <col class="TableStyle-PatternedRows-Column-Regular" />
                        <col class="TableStyle-PatternedRows-Column-Regular" />
                        <thead>
                            <tr class="TableStyle-PatternedRows-Head-Header1">
                                <th class="TableStyle-PatternedRows-HeadE-Regular-Header1">Documentation</th>
                                <th class="TableStyle-PatternedRows-HeadD-Regular-Header1">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="TableStyle-PatternedRows-Body-LightRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-LightRows">
                                    <p><a href="../../../developing_with_spryker/develping_with_spryker.html" class="MCXref xref">Developing with Spryker Commerce OS</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-LightRows">
                                    <p>Development Guide to start developing with Spryker</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-DarkerRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-DarkerRows">
                                    <p><a href="../../../developing_with_spryker/yves/yves_url_routing.html" target="_blank">URL Routing</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-DarkerRows">
                                    <p>URL Routing in Yves</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-LightRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-LightRows">
                                    <p><a href="../advanced_tutorials/t_add_new_bundle.html" target="_blank">How to Add a New <span class="Generalbundle/module">module</span></a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-LightRows">
                                    <p>Tutorial on creating a new <span class="Generalbundle/module">module</span> in Zed</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-DarkerRows">
                                <td class="TableStyle-PatternedRows-BodyE-Regular-DarkerRows">
                                    <p><a href="../advanced_tutorials/t_add_navigation_zed.html" target="_blank">How to Add Navigation in Zed	</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyD-Regular-DarkerRows">
                                    <p>Adding navigation in Zed</p>
                                </td>
                            </tr>
                            <tr class="TableStyle-PatternedRows-Body-LightRows">
                                <td class="TableStyle-PatternedRows-BodyB-Regular-LightRows">
                                    <p><a href="../advanced_tutorials/t_transfer_data_yves_zed.html" target="_blank">Communication Between Yves and Zed</a>
                                    </p>
                                </td>
                                <td class="TableStyle-PatternedRows-BodyA-Regular-LightRows">
                                    <p>Transfer Data from Yves to Zed</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="t-page-sidebar__sidebar g-col g-col--sm-12 g-col--xl-4 u-is-hidden--sm-xl">
                    <section class="a-box a-box--shadow">
                        <nav class="m-nav-sidebar" id="nav-sidebar">
                            <ul class="nocontent menu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <div class="t-base__footer">
                <footer class="o-footer g-grid g-grid--middle">
                    <nav class="g-grid g-grid--container g-grid--center"><a class="o-footer__link" href="https://spryker.com/privacy-policy" target="_blank">Privacy policy</a><a class="o-footer__link" href="https://spryker.com/partneragb" target="_blank">AGB Partnerprogram</a><a class="o-footer__link" href="https://spryker.com/impressum" target="_blank">Impressum</a>
                    </nav>
                </footer>
            </div><a class="a-scroll-top js-scroll-top" href="#"><span class="a-scroll-top__icon icon icon-chevron-up"></span></a>
            <div class="t-base__overlay js-base-template__toggler">
            </div>
        </div>
        <div class="t-base__off">
            <section class="o-off-canvas">
                <nav class="m-nav-mobile" id="nav-mobile">
                    <ul class="nocontent menu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                    </ul>
                </nav>
            </section>
        </div>
        <script src="/resources/ui/js/academy-ui-manifest.js">
        </script>
        <script src="/resources/ui/js/academy-ui-vendor.js">
        </script>
        <script src="/resources/ui/js/academy-ui-app.js">
        </script>
        <script>/* <![CDATA[ */
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-56589105-2', 'auto');
        ga('send', 'pageview');
    /* ]]> */</script>
        <script type="text/javascript" id="hs-script-loader" src="//js.hs-scripts.com/2770802.js">
        </script>
    </body>
</html>