<!DOCTYPE html>
<html id="spryker-academy" lang="en-us" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic;Default" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-toc-path="Developing with Spryker|Industry Partner Integration|Payment Integration - Heidelpay">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
        <meta name="author" content="Spryker Systems GmbH" />
        <meta name="title" content="Spryker Academy" />
        <meta name="msapplication-config" content="/resources/ui/images/favicons/browserconfig.xml" />
        <link rel="apple-touch-icon" sizes="180x180" href="/resources/ui/images/favicons/apple-touch-icon.png" />
        <link rel="shortcut icon" href="/resources/ui/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="96x96" href="/resources/ui/images/favicons/favicon-96x96.png" />
        <link rel="icon" sizes="32x32" href="/resources/ui/images/favicons/favicon-32x32.png" />
        <link rel="icon" sizes="16x16" href="/resources/ui/images/favicons/favicon-16x16.png" />
        <!-- Google Tag Manager -->
        <script>/*<![CDATA[*/(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NP24S2');/*]]>*/</script>
        <!-- End Google Tag Manager --><title>Heidelpay - Integration to Your Project
</title>
        <link href="../../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" />
        <link href="../../../../Skins/Default/Stylesheets/Components/Tablet.css" rel="stylesheet" />
        <link href="../../../../Skins/Default/Stylesheets/Components/Mobile.css" rel="stylesheet" />
        <style>@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,900');

</style>
        <link href="/resources/ui/css/academy-ui-typography.css" rel="stylesheet" />
        <link href="/resources/ui/css/academy-ui-app.css" rel="stylesheet" />
        <style>/*&lt;meta /&gt;*/

.button.previous-topic-button
{
	-pie-background: url('../../../../Skins/Default/Stylesheets/Images/navigate-previous.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.next-topic-button
{
	-pie-background: url('../../../../Skins/Default/Stylesheets/Images/navigate-next.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.expand-all-button
{
	-pie-background: url('../../../../Skins/Default/Stylesheets/Images/expand.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.print-button
{
	-pie-background: url('../../../../Skins/Default/Stylesheets/Images/printer.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.button.collapse-all-button
{
	-pie-background: url('../../../../Skins/Default/Stylesheets/Images/collapse.png') no-repeat center center, linear-gradient(#ffffff, #ececec);
}

.needs-pie
{
	behavior: url('../../../../Resources/Scripts/PIE-no-motw.htc');
}

</style>
        <link href="../../../../resources/ui/css/academy-ui-typography.css" rel="stylesheet" />
        <script src="../../../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body class="t-base t-base--page js-base-template">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NP24S2" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="t-base__header">
            <header class="o-header">
                <div class="o-header__content g-grid g-grid--container g-grid--middle"><a class="m-logo g-col g-col--sm-10 g-col--lg-2" href="/"><img class="m-logo__image" src="/resources/ui/images/logo.png" alt="Spryker Logo" /></a>
                    <nav class="m-nav-top g-col g-col--sm-2 g-col--lg-10" id="nav-top">
                        <div class="u-is-hidden--sm-xl">
                            <ul class="nocontent menu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </div>
                        <div class="u-is-hidden--xl"><a class="m-nav-top__toggler js-base-template__toggler" href="#"><span class="icon icon-bars"></span></a>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <div class="t-base__frame">
            <section class="o-search">
                <div class="g-grid g-grid--container">
                    <section class="m-search g-col g-col--sm-12">
                        <form action="/search.html" method="GET">
                            <input class="a-input a-input--expanded m-search__input" placeholder="Search in the Academy..." name="q" />
                            <button class="m-search__submit" type="submit"><span class="icon icon-search"></span>
                            </button>
                        </form>
                    </section>
                </div>
            </section>
            <section class="t-base__widgets g-grid g-grid--container g-grid--middle">
                <section class="m-breadcrumbs g-col g-col--sm-12 g-col--xl-8">
                    <div class="nocontent">
                        <div class="MCBreadcrumbsBox_0 breadcrumbs" data-mc-breadcrumbs-divider=" &gt; " data-mc-breadcrumbs-count="3" data-mc-toc="True"><span class="MCBreadcrumbsPrefix">You are here: </span>
                        </div>
                    </div>
                </section>
                <div class="g-col g-col--sm-12 g-col--xl-4 u-align-right">
                    <section class="m-widget-toolbar">
                        <div class="buttons popup-container clearfix topicToolbarProxy _Skins_topic_toolbar mc-component nocontent">
                            <div class="button-group-container-left">
                                <button class="button needs-pie previous-topic-button" title="Navigate previous">
                                    <img src="../../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="previous topic" />
                                </button>
                                <button class="button needs-pie next-topic-button" title="Navigate next">
                                    <img src="../../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="next topic" />
                                </button>
                                <button class="button needs-pie expand-all-button" data-state1-class="expand-all-button" data-state2-class="collapse-all-button" data-state2-title="Collapse all" title="Expand all" data-state1-title="Expand all">
                                    <img src="../../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="expand all" />
                                </button>
                                <button class="button needs-pie print-button" title="Print">
                                    <img src="../../../../Skins/Default/Stylesheets/Images/transparent.gif" alt="print" />
                                </button>
                            </div>
                        </div>
                    </section>
                    <div class="m-widget-github js-widget-github"><a class="m-widget-github__link icon icon-github js-widget-github__link" href="https://github.com/spryker/spryker-academy" target="_blank"></a>
                    </div>
                </div>
            </section>
            <main class="t-base__main g-grid g-grid--container">
                <div class="g-col g-col--sm-12 u-is-hidden--xl">
                    <div class="m-accordion js-accordion">
                        <div class="m-accordion__header">
                            <div class="m-accordion__title js-accordion__toggler"><span class="icon icon-ellipsis-v icon--left"></span>
                    Navigation
                </div>
                        </div>
                        <div class="m-accordion__content js-accordion__content">
                            <nav class="m-nav-sidebar" id="nav-sidebar">
                                <ul class="nocontent menu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="t-page-sidebar__content o-content g-col g-col--sm-12 g-col--xl-8 js-anchorer js-highlighter js-widget-copy">
                    <h1>Heidelpay - Integration to Your Project
</h1>
                    <ol>
                        <li value="1">
                            <h4>Configuration</h4>
                            <p>
                                <p>You can copy over configs to your config from the Heidelpay's <span class="Generalbundle/module">module</span><var>config.dist.php</var> file.
        </p>
        The most important configuration items are explained in the table below,
        make sure to get the required configuration items from Heidelpay:<br /><br /></p>
                            <div class="u-is-scrollable">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th style="font-weight: bold;">Configuration key*</th>
                                            <th style="font-weight: bold;">Description</th>
                                            <th style="font-weight: bold;">Obtained from Heidelpay?</th>
                                            <th style="font-weight: bold;"><span>Value for debugging</span>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><span>CONFIG_HEIDELPAY_SECURITY_SENDER</span>
                                                </p>
                                            </td>
                                            <td>Hash which is needed for making requests to Heidelpay
                        payment system
                    </td>
                                            <td>Yes</td>
                                            <td>
                                                <p><span>See "Authentifizierungsdaten" section in <br /></span><a href="https://dev.heidelpay.de/sandbox-environment/" class="external-link" rel="nofollow">https://dev.heidelpay.de/sandbox-environment/</a>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><span>CONFIG_HEIDELPAY_USER_LOGIN</span>
                                                </p>
                                            </td>
                                            <td>Merchant login to the Heidelpay payment system</td>
                                            <td>Yes</td>
                                            <td>
                                                <p>See "Authentifizierungsdaten" section in <br /><a href="https://dev.heidelpay.de/sandbox-environment/" class="external-link" rel="nofollow">https://dev.heidelpay.de/sandbox-environment/</a></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><span>CONFIG_HEIDELPAY_USER_PASSWORD</span>
                                                </p>
                                            </td>
                                            <td>Merchant password to the <span>Heidelpay payment system</span></td>
                                            <td>Yes</td>
                                            <td>
                                                <p>See "Authentifizierungsdaten" section in <br /><a href="https://dev.heidelpay.de/sandbox-environment/" class="external-link" rel="nofollow">https://dev.heidelpay.de/sandbox-environment/</a></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><span>CONFIG_HEIDELPAY_TRANSACTION_CHANNEL_[YOUR_CHANNEL_NAME]**</span>
                                                </p>
                                            </td>
                                            <td>Transaction channel hash used for specified
                        payment method in Heidelpay payment system, necessary for making API requests.
                    </td>
                                            <td>Yes</td>
                                            <td>See "Authentifizierungsdaten" section
                        for each payment method in <a href="https://dev.heidelpay.de/sandbox-environment/" class="external-link" rel="nofollow">https://dev.heidelpay.de/sandbox-environment/</a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>CONFIG_HEIDELPAY_APPLICATION_SECRET</p>
                                            </td>
                                            <td>Internal secret key, used by Heidelpay to
                        "sign" API requests
                    </td>
                                            <td>Recommended</td>
                                            <td>"debug_secret"</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><span>CONFIG_HEIDELPAY_PAYMENT_RESPONSE_URL</span>
                                                </p>
                                            </td>
                                            <td>A response URL used by Heidelpay to send
                        Payment results to the system when the order is made. Make sure it is
                        accessible from outside!
                    </td>
                                            <td>No</td>
                                            <td>If your dev (staging/whatever) system is not
                        accessible from outside, see "Usage from localhost" section below
                        to figure out how to debug the system when developing locally.
                    </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p><span>CONFIG_YVES_CHECKOUT_ASYNC_RESPONSE_URL</span>
                                                </p>
                                            </td>
                                            <td>A response URL used by Secure Credit Card
                        payment method on the payment step of the checkout. Heidelpay payment system
                        will use it to send asynchronous credit card registration response.
                    </td>
                                            <td>No</td>
                                            <td><span>If your dev (staging/whatever) system is not accessible from outside, see "Usage from localhost" section below to figure out how to debug the system when developing locally.</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p>* Configuration keys are used as follows: $config[HeidelpayConstants::CONFIGURATION_KEY_HERE] = 'CONFIGURATION VALUE HERE'<br />** Repeat this configuration for each payment method you're going to use.<br /><br />Based
            on the payment methods you're going to use, remove unnecessary processes from&#160;<var>OmsConstants::ACTIVE_PROCESSES</var> and <var>SalesConstants::PAYMENT_METHOD_STATEMACHINE_MAPPING</var>.</p>
                            <p>Please see example of the configuration below:</p>
                            <p><pre><code class="php">

         // ---------- Navigation
$YVES_HOST_PROTOCOL = 'http';

$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_SUCCESS_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/checkout/success';
$config[HeidelpayConstants::CONFIG_YVES_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES];
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_PAYMENT_FAILED_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/payment-failed?error_code=%s';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_IDEAL_AUTHORIZE_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/ideal-authorize';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_SUMMARY_STEP_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/checkout/summary';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_ASYNC_RESPONSE_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/cc-register-response';

// ---------- Error handling
$config[ErrorHandlerConstants::DISPLAY_ERRORS] = true;
$config[ErrorHandlerConstants::ERROR_RENDERER] = WebExceptionErrorRenderer::class;

// Heidelpay related
$YVES_HOST_PROTOCOL = 'http';
$config[ApplicationConstants::HOST_YVES] = 'your.great-shop-site.com';

$config[HeidelpayConstants::CONFIG_HEIDELPAY_SECURITY_SENDER] = '31HA07BC8142C5A171745D00AD63D182';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_USER_LOGIN] = '31ha07bc8142c5a171744e5aef11ffd3';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_USER_PASSWORD] = '93167DE7';

$config[HeidelpayConstants::CONFIG_HEIDELPAY_TRANSACTION_CHANNEL_CC_3D_SECURE] = '31HA07BC8142C5A171749A60D979B6E4';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_TRANSACTION_CHANNEL_PAYPAL] = '31HA07BC8142C5A171749A60D979B6E4';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_TRANSACTION_CHANNEL_IDEAL] = '31HA07BC8142C5A171744B56E61281E5';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_TRANSACTION_CHANNEL_SOFORT] = '31HA07BC8142C5A171749CDAA43365D2';

// Shop configuration values
$config[HeidelpayConstants::CONFIG_HEIDELPAY_APPLICATION_SECRET] = 'application_secret';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_SANDBOX_REQUEST] = true;

$config[HeidelpayConstants::CONFIG_HEIDELPAY_LANGUAGE_CODE] = 'DE';
$config[HeidelpayConstants::CONFIG_HEIDELPAY_PAYMENT_RESPONSE_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/payment';

$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_SUCCESS_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/checkout/success';
$config[HeidelpayConstants::CONFIG_YVES_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES];
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_PAYMENT_FAILED_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/payment-failed?error_code=%s';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_IDEAL_AUTHORIZE_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/ideal-authorize';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_PAYMENT_STEP_PATH] = '/checkout/payment';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_SUMMARY_STEP_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/checkout/summary';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_ASYNC_RESPONSE_URL] = $YVES_HOST_PROTOCOL . '://' . $config[ApplicationConstants::HOST_YVES] . '/heidelpay/cc-register-response';

$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_PAYMENT_FRAME_CUSTOM_CSS_URL] = '';
$config[HeidelpayConstants::CONFIG_YVES_CHECKOUT_PAYMENT_FRAME_PREVENT_ASYNC_REDIRECT] = "FALSE";
$config[HeidelpayConstants::CONFIG_ENCRYPTION_KEY] = "encryption_key";

        </code></pre>
                            </p>
                        </li>
                        <li value="2">
                            <h4>Add dependencies to src/Pyz/Yves/Checkout/CheckoutDependencyProvider.php:</h4><pre><code class="php">

 class CheckoutDependencyProvider extends SprykerCheckoutDependencyProvider
 {
...
    /**
     * @param \Spryker\Yves\Kernel\Container $container
     *
     * @return \Spryker\Yves\Kernel\Container
     */
    protected function providePlugins(Container $container)
...
             return $pimplePlugin-&gt;getApplication();
         };

+        $container[static::PAYMENT_SUB_FORMS] = function () {
+            $paymentSubFormPlugin = new SubFormPluginCollection();
+
+            $paymentSubFormPlugin-&gt;add(new HeidelpaySofortSubFormPlugin());
+            $paymentSubFormPlugin-&gt;add(new HeidelpayPaypalAuthorizeSubFormPlugin());
+            $paymentSubFormPlugin-&gt;add(new HeidelpayPaypalDebitSubFormPlugin());
+            $paymentSubFormPlugin-&gt;add(new HeidelpayIdealSubFormPlugin());
+            $paymentSubFormPlugin-&gt;add(new HeidelpayCreditCardSecureSubFormPlugin());
+
+            return $paymentSubFormPlugin;
+        };
+
+
+        $container[static::PAYMENT_METHOD_HANDLER] = function () {
+            $paymentMethodHandler = new StepHandlerPluginCollection();
+
+            $paymentMethodHandler-&gt;add(new HeidelpayHandlerPlugin(), PaymentTransfer::HEIDELPAY_SOFORT);
+            $paymentMethodHandler-&gt;add(new HeidelpayHandlerPlugin(), PaymentTransfer::HEIDELPAY_PAYPAL_AUTHORIZE);
+            $paymentMethodHandler-&gt;add(new HeidelpayHandlerPlugin(), PaymentTransfer::HEIDELPAY_PAYPAL_DEBIT);
+            $paymentMethodHandler-&gt;add(new HeidelpayHandlerPlugin(), PaymentTransfer::HEIDELPAY_IDEAL);
+            $paymentMethodHandler-&gt;add(new HeidelpayHandlerPlugin(), PaymentTransfer::HEIDELPAY_CREDIT_CARD_SECURE);
+
+            return $paymentMethodHandler;
+        };
+
         return $container;
     }
                    </code></pre>
                        </li>
                        <li value="3">
                            <h4>Add dependency to src/Pyz/Zed/Oms/OmsDependencyProvider.php:</h4><pre><code class="php">

 class OmsDependencyProvider extends SprykerOmsDependencyProvider
 {
    /**
     * @param \Spryker\Zed\Kernel\Container $container
     *
     * @return \Spryker\Zed\Kernel\Container
     */
    public function provideBusinessLayerDependencies(Container $container)
...

+
+        $container-&gt;extend(static::CONDITION_PLUGINS, function (ConditionCollectionInterface $conditionCollection) {
+            $conditionCollection
+                -&gt;add(new IsAuthorizationCompletedPlugin(), 'Heidelpay/IsAuthorizationCompleted')
+                -&gt;add(new IsDebitCompletedPlugin(), 'Heidelpay/IsDebitCompleted')
+                -&gt;add(new IsCaptureApprovedPlugin(), 'Heidelpay/IsCaptureApproved');
+
+
+            return $conditionCollection;
+        });
+
+        $container-&gt;extend(static::COMMAND_PLUGINS, function (CommandCollectionInterface $commandCollection) {
+            $commandCollection
+                -&gt;add(new AuthorizePlugin(), 'Heidelpay/Authorize')
+                -&gt;add(new DebitPlugin(), 'Heidelpay/Debit')
+                -&gt;add(new CapturePlugin(), 'Heidelpay/Capture');
+            return $commandCollection;
+        });
+
         return $container;
     }
                    </code></pre>
                        </li>
                        <li value="4">
                            <h4>Add dependencies to src/Pyz/Zed/Payment/PaymentDependencyProvider.php:</h4><pre><code class="php">...

+class PaymentDependencyProvider extends  SprykerPaymentDependencyProvider
+{
+
+
+    public function provideBusinessLayerDependencies(Container $container)
+    {
+        $container = parent::provideBusinessLayerDependencies($container);
+        $container-&gt;extend(static::CHECKOUT_PLUGINS, function (CheckoutPluginCollection $pluginCollection) {
+            $pluginCollection-&gt;add(new HeidelpaySaveOrderPlugin(), HeidelpayConfig::PROVIDER_NAME, PaymentDependencyProvider::CHECKOUT_ORDER_SAVER_PLUGINS);
+            $pluginCollection-&gt;add(new HeidelpayPostSavePlugin(), HeidelpayConfig::PROVIDER_NAME, PaymentDependencyProvider::CHECKOUT_POST_SAVE_PLUGINS);
+            return $pluginCollection;
+        });
+
+
+    }
+}
                    </code></pre>
                        </li>
                        <li value="5">
                            <h4>Add Heidelpay's controller provider to the Yve's bootstrap:</h4><pre><code class="php">...
use SprykerEco\Yves\Heidelpay\Plugin\Provider\HeidelpayControllerProvider;
&#160;
class YvesBootstrap
{
...
protected function getControllerProviderStack($isSsl)
{
    return [
        ...
        new HeidelpayControllerProvider($isSsl),
    ];
}
...</code></pre>
                        </li>
                        <li value="6">
                            <h4>Setup database and DTOs</h4>
                            <p>The Heidelpay-Bundle will integrate 3 new tables to your database scheme. Make sure that you
        integrate them in accordance with your project migration guideline. (e.g. run console <var>propel:diff</var> to see
            the migrations needed).</p>
                            <p><pre><code class="php">
            console propel:diff &amp;&amp; console propel:migrate &amp;&amp; console propel:model:build
        </code></pre>
                            </p>
                            <p>You also have to genreate data transfer objects which is related with Heidelpay</p>
                            <p><pre><code class="php">
            console tr:ge
        </code></pre>
                            </p>
                        </li>
                        <li value="7">
                            <h4>Change payment step template</h4>
                            <p>Change the following lines to change behavior on the payment selection step:
        <pre><code class="php">
+++ b/src/Pyz/Yves/Checkout/Theme/default/checkout/payment.twig
@@ -11,22 +11,17 @@

             &lt;div class="callout"&gt;
                 &lt;ul class="no-bullet"&gt;
-                    {% for name, choices in paymentForm.paymentSelection.vars.choices %}
-
-                        &lt;h4&gt;{{ ('checkout.payment.provider.' ~ name) | trans }}&lt;/h4&gt;
-
-                        {% for key, choice in choices %}
-                            &lt;li&gt;  &amp;nbsp;
-                                {{ form_widget(paymentForm.paymentSelection[key], {'attr': {'class': '__toggler'}}) }}
-                                {{ form_label(paymentForm.paymentSelection[key]) }}
-                                &lt;div class="__toggler-target"&gt;
-                                    &lt;div class="row columns"&gt;
-                                        {{ checkout.include_subform(paymentForm[paymentForm.paymentSelection[key].vars.value]) }}
-                                    &lt;/div&gt;
+                    {% for method in paymentForm.paymentSelection %}
+                        &lt;li&gt;
+                            {{ form_widget(method, {'attr': {'class': '__toggler'}}) }}
+                            {{ form_label(method) }}
+                            &lt;div class="__toggler-target"&gt;
+                                &lt;div class="row columns"&gt;
+                                    {{ checkout.include_subform(paymentForm[method.vars.value]) }}
                                 &lt;/div&gt;
-                            &lt;/li&gt;
-                        {% endfor %}
-
+                                {% if not loop.last %}&lt;hr&gt;{% endif %}
+                            &lt;/div&gt;
+                        &lt;/li&gt;
                     {% endfor %}
                 &lt;/ul&gt;
             &lt;/div&gt;
                </code></pre></p>
                        </li>
                    </ol>
                    <p>&#160;</p>
                    <p><b>See also:</b>
                    </p>
                    <ul>
                        <li value="1"><a href="../integration_payment_heidelpay.html" class="MCXref xref">Payment Integration - Heidelpay</a>
                        </li>
                        <li value="2"><a href="integration_payment_heidelpay_installation.html" class="MCXref xref">Heidelpay - Installation</a>
                        </li>
                        <li value="3"><a href="#" class="MCXref xref" xrefformat="{paratext}">Heidelpay - Integration to Your Project
</a>
                        </li>
                        <li value="4"><a href="integration_payment_heidelpay_credit_card.html" class="MCXref xref">Heidelpay - Credit Card Secure</a>
                        </li>
                        <li value="5"><a href="integration_payment_heidelpay_ideal.html" class="MCXref xref">Hedelpay - iDeal</a>
                        </li>
                        <li value="6"><a href="integration_payment_heidelpay_paypal_debit.html" class="MCXref xref">Heidelpay - Paypal Debit Workflow</a>
                        </li>
                        <li value="7"><a href="integration_payment_heidelpay_sofortuberweisung.html" class="MCXref xref">Heidelay - Sofort (Online Transfer)</a>
                        </li>
                        <li value="8"><a href="integration_payment_heidelpay_error_workflow.html" class="MCXref xref">Heidelpay - Workflow for Errors
    </a>
                        </li>
                    </ul>
                    <p>&#160;</p>
                    <p>
    ,<i>Last
        review date: Dec. 6th, 2017</i></p>
                </div>
                <div class="t-page-sidebar__sidebar g-col g-col--sm-12 g-col--xl-4 u-is-hidden--sm-xl">
                    <section class="a-box a-box--shadow">
                        <nav class="m-nav-sidebar" id="nav-sidebar">
                            <ul class="nocontent menu mc-component" data-mc-is-context-sensitive="True" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                            </ul>
                        </nav>
                    </section>
                </div>
            </main>
            <div class="t-base__footer">
                <footer class="o-footer g-grid g-grid--middle">
                    <nav class="g-grid g-grid--container g-grid--center"><a class="o-footer__link" href="https://spryker.com/privacy-policy" target="_blank">Privacy policy</a><a class="o-footer__link" href="https://spryker.com/partneragb" target="_blank">AGB Partnerprogram</a><a class="o-footer__link" href="https://spryker.com/impressum" target="_blank">Impressum</a>
                    </nav>
                </footer>
            </div><a class="a-scroll-top js-scroll-top" href="#"><span class="a-scroll-top__icon icon icon-chevron-up"></span></a>
            <div class="t-base__overlay js-base-template__toggler">
            </div>
        </div>
        <div class="t-base__off">
            <section class="o-off-canvas">
                <nav class="m-nav-mobile" id="nav-mobile">
                    <ul class="nocontent menu mc-component" data-mc-linked-toc="Data/Tocs/spryker_content.js" data-mc-side-menu="True" data-mc-max-depth="1" data-mc-include-icon="False" data-mc-include-indicator="False" data-mc-include-children="True" data-mc-include-siblings="True" data-mc-include-parent="True" data-mc-toc="True">
                    </ul>
                </nav>
            </section>
        </div>
        <script src="/resources/ui/js/academy-ui-manifest.js">
        </script>
        <script src="/resources/ui/js/academy-ui-vendor.js">
        </script>
        <script src="/resources/ui/js/academy-ui-app.js">
        </script>
    </body>
</html>